@page "/"
@layout NoMenuLayout
@using BlazorWebApp.Services
@using BlazorWebApp.Models
@inject IApiService _ApiService

<PageTitle>Transit Tracker</PageTitle>

<h1>Welcome to Transit Tracker!</h1>

Input the number of the bus route you want to search.

<p>
    <input @bind="routeNum"/>
    <button class="btn btn-primary" @onclick="@submitData">Submit</button>
</p>


@if (data == null)
{
    <h2>Loading...</h2>
}
else
{
    @if (data.bus != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Bus ID: </th>
                    <th>Direction: </th>
                    <th>Destination: </th>
                    <th>Next Stop: </th>
                    <th>Seating Available: </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in data.bus)
                {
                    <tr>
                        <th>@item.VehicleID </th>
                        <th>@item.Direction </th>
                        <th>@item.destination </th>
                        <th>@item.next_stop_name</th>
                        <th>@item.estimated_seat_availability</th>
                    </tr>
                }
            </tbody>
        </table>
    }

}

@code {
    private string? routeNum;
    private RootModel data = null;
    public async Task submitData()
    {
        // await base.OnInitializedAsync();
        data = await _ApiService.getData(routeNum);
        return;
    }
}